# Feb 03-2018
# Ref. URL: https://github.com/github/gitignore/blob/master/Node.gitignore
#      NOTE: very good source for .gitignore for NODE. 

# ENV vars. exclude (== do not upload to GiT repository)
.env 

# exclude node modules or packages
node_modules/
